<h2>Passwort ändern</h2>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
    Neues Passwort:
    <%= f.password_field :password %>
  </p>
  <p>
    Wiederholung:
    <%= f.password_field :password_confirmation %>
  </p>

  <p><%= f.submit %></p>
<% end %>

<p><%= back_to_select %></p>